/* Importación Fonts de google */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #19A7CE;
}

body {
    /* background-color: #DDE6ED; */
}



a {
    text-decoration: none;
    color: black;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-transform: uppercase; */
    padding: 10px;
}

.container {
    background-color: #FAE3D9;
    border-radius: 10px;
    min-height: 400px;
}


footer {
    background-color: #19A7CE;
    padding: 20px;
    bottom: 0;
    margin-top: 20px;
}

.inactive {
    display: none;
}

.active{
    display: block;
}

h1{
    padding-top: 15px;
}

.btn:hover    {
    background-color: #FF6F3C;
    border: none;

}