/* Importación Fonts de google */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}

header {
    background-color: #19A7CE;
}

body {
    /* background-color: #DDE6ED; */
}



a {
    text-decoration: none;
    color: black;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* text-transform: uppercase; */
    padding: 10px;
}

.container {
    background-color: #DDE6ED;
    border-radius: 10px;
    min-height: 420px;
}


footer {
    background-color: #19A7CE;
    padding: 20px;
    bottom: 0;
    margin-top: 20px;
}

.inactive {
    display: none;
}

.active{
    display: block;
}

h2{
    padding-top: 15px;
}

/* .btn:hover    {
    background-color: #FF6F3C;
    border: none;

} */
/* input   {
    outline: none;
} */
/*
https://greensock.com/ libreria a conocer

input:invalid   {
    border: 2px solid red;
    animation: 0.2s valid 3;
}

@keyframes valid{
    to {transform: translateX(0);}
    from {transform: translateX(10px);}
}
ejemplo para validar inputs con Css

*/
